body {
    background-color: #353535;
}

nav, nav * {
    font-family: Futura;
}

.navbar .container-fluid {
    align-items: baseline;
}

.navbar-brand, .nav-link {
    color: #ffffff;
}

.navbar-brand:hover, .nav-link:hover {
    color: #4683c4;
    text-shadow: 2px 2px 0.25rem #000000;
}

.navbar-toggler {
    background-color: #f5f5f5;
}

.navbar-toggler:hover {
    background-color: #4683c4;
    box-shadow: 2px 2px 0.25rem 0.1rem;
}

.navbar-toggler:focus {
    box-shadow: 2px 2px 0.25rem 0.1rem;
}

.body-template-container {
    width: 95%;
    max-width: 1000px;
    margin: auto;
}

.feed-details {
    border: 2px solid #050532;
    background-color: #0b4d93;
    color: #f5f5f5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin: 0.5rem 0rem;
    padding: 0.5rem;
}

.feed-details .feed-title {
    font-family: Futura;
    margin-bottom: 1rem;
}

.feed-details .feed-url {
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
    font-size: 12px;
    margin-bottom: 0.5rem;
}

.feed-details .feed-description {
    margin-bottom: 1rem;
}

.feed-subscribe-button, .feed-unsubscribe-button {
    width: max-content;
    align-self: center;
    margin: 0.5rem;
}

.feed-entry {
    border: 2px solid #050532;
    background-color: #f5f5f5;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin: 0.5rem 0rem;
    padding: 0.5rem;
}

.entry-link {
    color: #353535;
    text-decoration: none;
    font-family: Futura;
    font-weight: bold;
    font-size: 20px;
}

.entry-link:hover {
    color: #0b4d93;
    text-shadow: 1px 1px 0.1rem #000000;
}

.entry-title {
    grid-column: 1 / 6;
    grid-row: 1;
    justify-self: start;
    text-align: left;
    color: #0b4d93;
    margin-bottom: 0;
    font-size: 1.5rem;
}

.entry-publication {
    grid-column: 6;
    grid-row: 1;
    justify-self: end;
    text-align: right;
    margin-top: 0.25rem;
}

.publication-badge-link {
    text-decoration: none;
}

.publication-badge-link span:hover {
    color: #4683c4;
    text-shadow: 2px 2px 0.25rem #000000;
}

.entry-publication span {
    border: 2px solid #050532;
    background-color: #353535;
    color: #ffffff;
    border-radius: 5px;
    padding: 0.25rem;
    font-family: Futura;
}

.entry-details {
    grid-column: 1 / 6;
    grid-row: 2;
    justify-self: start;
    text-align: left;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0.5rem;
}

.entry-description {
    grid-column: 1 / 7;
    grid-row: 3;
    justify-self: start;
    text-align: left;
    vertical-align: top;
}

.entry-description p {
    display: inline;
    vertical-align: top;
}

.entry-description img {
    max-height: 120px;
    float: left;
    margin-right: 0.5rem;
}

.entry-description a {
    color: #0b4d93;
}

.sub-table-container, .add-sub-form-container, .login-form-container, .register-form-container {
    border: 2px solid #050532;
    background-color: #f5f5f5;
    border-radius: 5px;
    margin: 0.5rem 0rem;
    padding: 0.5rem;
}

.sub-table {
    table-layout: auto;
}

#current-subscriptions thead {
    border-bottom: 1px solid #050532;
    border: 50%;
}

.sub-table * {
    padding: 0.5rem;
}

.sub-table tbody * {
    text-align: left;
    vertical-align: top;
}

.sub-table-link {
    color: #000000;
    text-decoration: none;
    padding-left: 0;
    font-family: Futura;
    font-weight: bold;
}

.sub-table-link:hover {
    color: #0b4d93;
    text-shadow: 1px 1px 0rem #000000;
}

.break {
    word-break: break-all;
}

.sub-table-unsubscribe {
    color: #000000;
    padding-left: 0;
}

.sub-table-unsubscribe:hover {
    color: #b80d0d;
    text-shadow: 1px 1px 0rem #000000;
}

form input {
    margin: 0.25rem;
}

form input[type="text"], form input[type="email"], form input[type="password"] {
    max-width: 99%;
}

button.bookmark-button {
    border: transparent;
    background-color: transparent;
    width: 18px;
    height: 18px;
    display: inline-flex;
    padding: 0px;
    align-items: center;
    justify-content: center;
    outline: none;
    grid-row: 1;
    grid-column: 6;
    justify-self: end;
}

.bookmark {
    height: 18px;
    stroke: #353535;
    stroke-width: 2px;
    stroke-linejoin: round;
    display: inline-block;
}

.bookmark-button.unsaved * {
    fill: #f5f5f5;
}

.bookmark-button.saved * {
    fill: #0b4d93;
}

.bookmark:hover {
    filter: drop-shadow(1px 1px 0rem #494949);
}

.bookmarks-info {
    border: 2px solid #050532;
    background-color: #0b4d93;
    color: #f5f5f5;
    border-radius: 5px;
    margin: 0.5rem 0rem;
    padding: 0.5rem;
    text-align: center;
}

.bookmarks-info h2 {
    font-family: Futura;
    margin-bottom: 1rem;
}

.pagination-container {
    border: 2px solid #050532;
    background-color: #857F74;
    border-radius: 5px;
    margin: 0.5rem 0rem;
    padding: 0.5rem;
}

.pagination-container .step-links .current {
    color: #f5f5f5;
}
.pagination-container .step-links a {
    color: #0b4d93;
    font-weight: bold;
}

.btn-danger {
    background-color: #b80d0d;
    border-color: #7e0808;
}

.btn-danger:hover, .btn-danger:focus {
    background-color: #d61010;
    border-color: #a30a0a;
    box-shadow: 2px 2px 0.25rem 0rem #000000;
}

.btn-light {
    background-color: #f5f5f5;
    border-color: #050532;
}

.btn-light:hover, .btn-light:focus {
    background-color: #ffffff;
    border-color: #07074d;
    box-shadow: 2px 2px 0.25rem 0rem #000000;
}